// Imports

@import "imports/reset";
@import "imports/variables";
@import "imports/mixins";
@import "imports/media-queries";
@import "imports/fonts";

// Vendors

@import "vendors/swiper";

body{
	min-width: $minWidth;
	font: 16px/1.1 'Roboto', sans-serif;
}
a{
	text-decoration: none;
	color: #000;
}
.wrapper{
	max-width: $maxWidth;
	margin: 0 auto;
}
.header{
	background: $bgSection;
	&__banner{
		position: relative;
		z-index: 2;
	}
	& + section{
		background: $bgSection;
	}
}
.green-btn{
	color: #fff;
	background: $colorBtn;
	border-radius: 2px;
	display: inline-block;
}
.text{
	font-size: 1.5em;
	line-height: 1.5;
	letter-spacing: 2.3px;
	text-transform: uppercase;
	font-weight: 300;
	position: relative;
	z-index: 2;
	&:before{
		content: '';
		width: 40px;
		height: 3px;
		background: #000;
		position: absolute;
		top: -13px;
		left: 0;
	}
}
.menu{
	display: flex;
	justify-content: space-between;
	padding: 78px 80px 25px;
	position: relative;
	&:before{
		content: '';
		position: absolute;
		left: 41%;
		top: 0;
		background: url('../images/header-additional.jpg') no-repeat;
		width: 95px;
		height: 244px;
		z-index: 1;
	}
	.navigation{
		font-size: .875em;
		margin: 3px 0 0;
		position: relative;
		z-index: 2;
		a{
			display: inline-block;
			vertical-align: middle;
			margin: 0 0 0 8px;
			&:first-child{
				margin: 0 27px 0 0;
			}
			&.sign-up{
				padding: 8px 29px;
				border-radius: 2px;
				background: #f7cb00;
				margin: 0 0 0 37px;
			}
			&.sign-in{
				padding: 8px 17px;
			}
		}
	}
}
.presentation{
	padding: 173px 80px 80px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: relative;
	&__text-block{
		flex: 0 0 400px;
		z-index: 2;
		.text{
			margin: 0 0 58px;
		}
	}
	.green-btn{
		font-size: 1.125em;
		padding: 15px 49px;
	}
	&__image{
		position: absolute;
		left: 46.1%;
		bottom: 0;
		transform: translateX(-50%);
	}
	&__video{
		position: relative;
		text-align: center;
		z-index: 2;
		.title{
			font-weight: bold;
			text-transform: uppercase;
			font-size: .875em;
			margin: 0 0 32px;
			letter-spacing: .5px;
		}
		.trigger{
			cursor: pointer;
		}
	}
}
.phone{
	max-width: 880px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	padding: 134px 80px 0;
	&__images-block{
		flex: 0 0 295px;
		margin: 8px 12px 0;
		position: relative;
		.images-holder{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 68px 19px 72px;
			box-sizing: border-box;
			display: flex;
		}
		.images{
			overflow: hidden;
			width: 100%;
			img{
				max-width: 300px;
				width: 100%;
				height: 100%;
			}
		}
	}
	&__text-block{
		flex: 0 0 402px;
		counter-reset: list1;
		li{
			list-style-type: none;
			margin: 0 0 111px;
			&:after{
				counter-increment: list1;
				content: counter(list1); 
				font-size: 6em;
				font-weight: 500;
				opacity: .1;
				position: absolute;
				right: 0;
				top: -120px;
			}
		}
	}
}
.slider{
	padding: 86px 0 0;
	background: #f6f1f1;
	cursor: grab;
	&:active{
		cursor: grabbing;
	}
	.swiper-wrapper{
		align-items: flex-end;
	}
	.swiper-slide{
		width: auto;
		&:nth-child(4){
			margin: 0 0 0 80px;
		}
		.text{
			width: 400px;
			padding: 14px 0 0;
			margin: 159px 210px 0 159px;
			&:before{
				top: 0;
			}
		}
		&:last-child{
			align-self: flex-start;
		}
	}
	.swiper-scrollbar{
		bottom: 26px;
		background: rgba(0, 0, 0, 0.5);
		.swiper-scrollbar-drag{
			background: #f7cb00;
		}
	}
}
.social{
	display: flex;
	justify-content: space-between;
	max-width: 1040px;
	margin: 0 auto;
	padding: 120px 0 0;
	&__buttons{
		flex: 0 0 400px;
		.button-holder{
			margin: 0 0 80px;
		}
		.button{
			position: relative;
			display: inline-block;
			padding: 24px 48px 20px 77px;
			line-height: 1.3;
			width: 155px;
			border-radius: 2px;
			color: #fff;
			text-transform: uppercase;
			font-weight: bold;
			font-size: .875em;
			font-family: 'Roboto', sans-serif !important;
			&.icon-facebook{
				background: #3a5795;
				&:before{
					color: #3a5795;
				}
			}
			&.icon-google-plus{
				background: #d34836;
				&:before{
					color: #d34836;
				}
			}
			&.icon-vkontakte{
				background: #5c82ab;
				&:before{
					color: #5c82ab;
				}
			}
			&:before{
				position: absolute;
				left: 28px;
				top: 25px;
				font-size: 1.7em;
				z-index: 2;
				font-family: 'icomoon' !important;
			}
			&:after{
				content: '';
				width: 40px;
				height: 40px;
				position: absolute;
				background: #fff;
				border-radius: 50%;
				z-index: 1;
				left: 20px;
				top: 19px;
			}
		}
		.count{
			font-size: 1.5em;
			font-weight: 300;
			margin: 0 0 0 16px;
			display: inline-block;
			vertical-align: super;
		}
	}
	.text{
		flex: 0 0 400px;
	}
}
.live{
	padding: 0 80px;
}